
@{
    ViewBag.Title = "ViewUsuariosClientes";
}

<h2>Usuarios</h2>
@using (Html.BeginForm("guardarCliente", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mi Cuenta </h4>
        <hr />


    </div>
}
@using (Html.BeginForm("guardarCliente", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Consultar estados de Cuenta </h4>
        <hr />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
